@import "../../assets/variables";

.calendar {
  &__body {
    width: 100%;
    margin: 0 10px;
  }
  &__day {
    margin: 5px;
    align-items: center;
    justify-content: center;
  }
  &__content {
    background-color: var(--primary-color);
  }
}
